name: Daily fetch of PHMSA data

on:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight UTC

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run data fetching script
        run: python3 pull_phmsa_data.py
